.task-inactive(
  class= classnames({ complete: task.complete })
)
  if taskMeta.newTask
    input.input
  else
    span.complete-checkbox
      if task.complete
        != icons('check-square')
      else
        != icons('square')
    span.description
      = task.parsed

    if task.createdDate
      span.createdDate
        .tag.tag-created-date(
          data-created-date= task.createdDate
        )
          span.tag-icon
            != icons('calendar')
          span.tag-text
            = task.createdDate

    if task.priority
      span.priority
        .tag.tag-priority(
          data-priority = task.priority
        )

          span.tag-icon
            != icons('star')
          span.tag-text
            = task.priority

    if task.projects && task.projects.length
      span.projects
        for project in task.projects
          .tag.tag-project(
            data-project= project
          )
            span.tag-icon
              != icons('plus')
            span.tag-text
              = project

    if task.contexts && task.contexts.length
      span.contexts
        for context in task.contexts
          .tag.tag-context(
            data-context= context
          )
            span.tag-icon
              != icons('at-sign')
            span.tag-text
              = context

    if task.urls && task.urls.length
      span.urls
        for url, domain in task.urls
          a.tag.tag-url(
            href= url
          )
            span.tag-icon
              != icons('external-link')
            span.tag-text
              = domain

    if task.values && Object.keys(task.values).length
      span.values
        for value, key in task.values
          .tag.tag-value(
            data-key= key
            data-value= value
          )
            span.tag-icon
              != icons('tag')
            span.tag-text
              = `${key}: ${value}`
